body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.card--flip {
    transform: rotateX(180deg);
}
.contentcard{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.contentcard__cards{
    align-items: center;
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}
.contentcard__cards--back{
    background: #ffff;
    transform: rotateX(180deg);
    backface-visibility: hidden;
}
.contentcard__cards--disabled{
    background: rgba(0, 0, 0, 0.09);
    border-radius: 15px;
}
.contentcard__cards--front{
    background-color: grey;
    transform: rotateX(0deg);
    backface-visibility: hidden;
}
.contentcard__cards__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    border-radius: 15px;
    border: 2px solid;
    box-shadow: 2px 2px rgba(0, 0, 0, 1);
}
.contentnewgame{
    display: flex;
    justify-content: center;
    margin:30px;
}
.contentnewgame__button{
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius:10px;
}
.levelform{
    text-align: center;
}
.levelform__button{
    margin-left: 10px;
    border: 2px solid;
    border-radius: 5px;
}
.levelform__image{
    margin-top: 30px;
    border-radius: 15px;
}
.selectlevel{
    text-align: center;
}
.scoreboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}
#scoreboard__player1,#scoreboard__player2 {
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px ;
    width: 150px;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}
.scoreboard__winner{
    text-align: center;
}

@media (max-width: 500px){
body{
    margin:20px;
}
.contentcard__cards{
    width: 100px;
    height: 170px;
}
.levelform__image{
    width: 100%
}
}
@media(min-width: 1000px){
.contentcard{
    margin:5% 15%;
} 
}
