body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.card--flip {
    transform: rotateX(180deg);
}
.contentcard{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.contentcard__cards{
    display: flex;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}
.contentcard__cards--back{
    background: #ffff;
    transform: rotateX(180deg);
    backface-visibility: hidden;
}
.contentcard__cards--disabled{
    background: rgba(0, 0, 0, 0.09);
    border-radius: 15px;
}
.contentcard__cards--front{
    background-color: grey;
    transform: rotateX(0deg);
    backface-visibility: hidden;
}
.contentcard__cards__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    border-radius: 15px;
    border: 2px solid;
}
.newgamebutton{
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius:10px;
}
.scoreboard{
    padding-left: 15%;
    padding-top: 15%;
}
@media (max-width: 500px){
body{
    margin:20px;
}
.contentcard__cards{
    width: 100px;
    height: 170px;
}
}
@media(min-width: 1000px){
.contentcard{
    margin:5% 15%;
} 
}
